/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-flex {
    display: flex;
    flex-direction: row;
}

.flex-box {
    margin: 20px 20px;
    padding: 40px;
    width: 350px;
    border: 3px lightgray dashed;
    border-radius: 5px;
}